h1
{ 
    text-align:center;
    text-decoration:underline;
    color:whitesmoke
}

h2
{ 
    text-decoration:underline;
    color:whitesmoke
}
p
{ 
   color:whitesmoke
    font-size: 37px
 
}    
p
{
  border: 5px solid darkblue;
  width: 20%;
  text-align:center;
}
         body {
         background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gettyimages.fr%2Fphotos%2Fligne-de-code&psig=AOvVaw1eFkxZp_wtRdkooDo3-j6K&ust=1743522539197000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJDnievVtIwDFQAAAAAdAAAAABAE');
         height: 100%;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         background-size: cover;
         }


